[submodule "lib/scopelift"]
	path = lib/scopelift
	url = https://github.com/uniswapfoundation/scopelift
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
